html {
    height: 100%;
}

body {
    background-color: #a4b8fa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0px auto 0px;
    height: 100%;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 10px auto 10px auto;
    border-collapse: collapse;
}

th, td {
    text-align: center;
    padding: 4px 10px 4px 10px;
    border: 1px solid black;
}

thead tr {
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: #8ca5f5;
}

tbody td:last-child {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #a4b8fa;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    word-break: break-word;
    word-wrap: break-word;
}

td:nth-child(3) {
    width: 100px;
}

td:nth-child(2) {
    /* building field */
    width: 80px;
}

td:nth-child(5) {
    /* description field */
    width: 200px;
}

td:nth-child(7)>div {
    /* revision records field */
    text-align: left;
}

td.button_set {
    border: none;
}

.pages {
    text-align: center;
    color: black;
    margin: 10px 0 10px 30px;
    font-weight: bold;
    border: none;
    padding-top: 10px;
}

.pages a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: black;
    padding: 4px 5px 4px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
}

.pages a:hover {
    opacity: 0.8;
}

.pages a.end {
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.2);
}

.column span {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
}

.column div input {
    margin: 0 0 0 0;
    border: 0px;
    width: 76px;
}

.column div input[type="checkbox"] {
    width: 80px;
}

.column .email {
    width: 96px;
}

.field {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px 0 10px 0;
    color: black;
    font-size: 16px;
}

#sidebar {
    font-size: 14px;
    display: block;
    position: fixed;
    margin: 10px auto 10px 30px;
}

#sidebar a {
    display: block;
    margin: 5px 0 5px 0;
}

#reply_window {
    font-size: 14px;
    position: fixed;
    display: none;
    right: 10px;
    padding: 20px 10px 20px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s;
}

#reply_window label {
    font-size: 14px;
}

#reply_window input {
    width: 100px;
}

#reply_window .closebtn {
    cursor: pointer;
    color: black;
    float: right;
    font-size: 18px;
    transition: 0.3s;
}

#reply_window .closebtn:hover {
    color: red;
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

#main_content div {
    margin-top: 3px;
    margin-bottom: 3px;
}

#user_setting {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_setting form div {
    margin: 10px 5px 10px 5px;
    height: 40px;
}

#backup_options {
    display: flex;
    justify-content: space-around;
}

#backup_options .field {
    display: inline-block;
}

#backups {
    min-width: 70vw;
}

.backup td {
    margin: 10px 0 10px 0;
    min-width: 35vw;
}

#copyright {
    font-family: 'Noto Sans TC', sans-serif;
    height: 40px;
    position: relative;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

@media only screen and (max-height: 500px) {
    #copyright {
        visibility: hidden;
    }
}