html {
    height: 100%;
}

body {
    background-color: #a4b8fa;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0px auto 0px;
    height: 100%;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

table {
    margin: 10px auto 10px auto;
    border-collapse: collapse;
}

th, td {
    font-family: 'Noto Sans TC', sans-serif;
    text-align: center;
    padding: 4px 10px 4px 10px;
    border: 1px solid black;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

input[type="text"], input[type="password"] {
    background: #FFFFFF;
    color: black;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 20px;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid rgb(13, 142, 194);
    box-shadow: inset 5px 10px 4px rgba(13, 142, 194, 0.07)
}

input[type="submit"] {
    width: 70px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.pages {
    color: black;
    margin: 10px 0 10px 30px;
    font-weight: bold;
    border: none;
    padding-top: 10px;
}

.pages a {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    color: black;
    padding: 4px 5px 4px 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 20px;
}

.pages a:hover {
    opacity: 0.8;
}

.pages a.end {
    pointer-events: none; background-color: rgba(0, 0, 0, 0.2);
}

.column span {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
}

.column div input {
    margin: 0 0 0 0;
    border: 0px;
    width: 76px;
}

.column div input[type="checkbox"] {
    width: 80px;
}

.column .email {
    width: 96px;
}

.field {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 10px 0 10px 0;
    color: black;
    font-size: 16px;
}

#sidebar {
    font-size: 12px;
    display: block;
    position: fixed;
    margin: 10px auto 10px 30px;
}

#sidebar a {
    display: block;
    margin: 5px 0 5px 0;
}

#reply_window {
    font-size: 12px;
    position: fixed;
    display: block;
    right: 10px;
    visibility: hidden;
}

#reply_window label {
    font-size: 14px;
}

#reply_window input {
    width: 100px;
}

#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

#main_content div {
    margin-top: 3px;
    margin-bottom: 3px;
}

#user_setting {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_setting form div {
    margin: 10px 5px 10px 5px;
    height: 40px;
}

#copyright {
    font-family: 'Noto Sans TC', sans-serif;
    height: 40px;
    position: relative;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

