input[type="text"], input[type="email"], input[type="password"] {
    margin: 5px 10px 5px 10px;
    font-family: 'Noto Sans TC', sans-serif;
    background: #FFFFFF;
    color: black;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    height: 20px;
    outline: none;
    -webkit-transition: .18s ease-out;
    -moz-transition: .18s ease-out;
    -o-transition: .18s ease-out;
    transition: .18s ease-out;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    border: 1px solid rgb(13, 142, 194);
    box-shadow: inset 5px 10px 4px rgba(13, 142, 194, 0.07)
}

input[type="text"]:disabled, input[type="email"]:disabled, input[type="password"]:disabled {
    background: #dddddd;
}

input[type="submit"] {
    font-family: 'Noto Sans TC', sans-serif;
    width: 70px;
    height: 40px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

select {
    background-color: white;
    height: 25px;
    border-radius: 3px;
    outline: none;
}

button {
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 10px;
    border-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    height: 30px;
    width: 50px;
    background-color: white;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.add {
    color: rgb(38, 168, 38);
}

.remove {
    color: crimson;
}

.update {
    color: blue;
}

.reset {
    color: crimson;
    width: 80px;
}
