h1 {
    text-align: center;
    margin: 10px auto 10px auto;
    font-weight: normal;
}

body {
    background-image: linear-gradient(to left bottom, #746bd1, #7377d7, #7483dc, #778fe1, #7c9ae4, #74a7ed, #6db3f3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto 0px auto 0px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#logo {
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#copyright {
    font-family: 'Noto Sans TC', sans-serif;
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    height: 40px;
}

.container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 62vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container:hover {
    box-shadow: -10px -10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container a {
    display: block;
    margin: 5px 0 5px 0;
}

